@junglescout:registry=https://junglescout-packages-600510635614.d.codeartifact.us-west-2.amazonaws.com/npm/infrastructure-as-code/
//junglescout-packages-600510635614.d.codeartifact.us-west-2.amazonaws.com/npm/infrastructure-as-code/:always-auth=true
//junglescout-packages-600510635614.d.codeartifact.us-west-2.amazonaws.com/npm/infrastructure-as-code/:_authToken=${NPM_TOKEN}
